html {
    height: 100%;
}
@font-face {
    font-family: big10Font;
    src: url("../fonts/B1G_Block2.ttf");
}
.bg {
    height: 100%; 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+48,2989d8+50,207cca+51,7db9e8+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #207cca 48%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 48%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#207cca 48%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.cardImg {
    width: 170px;
    height: 170px;
    border: 1px solid black;
    border-radius: 5px;
}

.schoolCard {
    width: 170px;
    height: 170px;
    /*border: 1px solid;*/
    padding: 0;
    /*border-radius: 5px; */
    /* border-left: solid 70px transparent; 
    border-right: solid 70px transparent; 
    border-bottom: solid 70px #fff; */
    filter: drop-shadow(0 0 10px #333);
}

.cardLink {
    width: 160px;
    height: 170px;
    margin: 10px;
}
.cardLink:hover {
    box-shadow: -8px 13px 5px 0px rgba(0,0,0,0.5);
}
.nav-link {
    display: inline-block;
    padding: 0.75rem 5rem;
    margin-bottom: 0;
}
.navbar-brand {
    font-size: 2.5rem;
    font-family: big10Font;
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
    color: #1e5799;
}

.instructions {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 2px solid rgba(100,100,100,0.15);
}
.scoreDiv {
    margin: 0 auto;
}
.messageDiv {
    width: 300px;
    margin: 0 auto;
    clear: both;
    margin-bottom: 0;
}
p.headerp {
    margin-top:5px;
    margin-bottom: 0;
}
p.headerp.gameMessage {
    margin-bottom: 0;
}
.Score {
    float: left;
}
.topScore{
    float: right
}
.black {
    color: black;
}